# SPDX-FileCopyrightText: 2026 LibreCode coop and contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

/vendor/
/vendor-bin/*/vendor/
/build/
/.phpunit.cache/
/.phpunit.result.cache
/.phpstan-cache/
/coverage.xml
