<?xml version="1.0"?>
<!--
SPDX-FileCopyrightText: 2026 LibreCode coop and contributors
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<ruleset name="UsageStatisticsClient">
    <description>PHP_CodeSniffer rules for the usage statistics client.</description>
    <arg name="colors"/>
    <arg value="sp"/>
    <file>src</file>
    <file>tests/Unit</file>
    <exclude-pattern>vendor/*</exclude-pattern>
    <exclude-pattern>vendor-bin/*</exclude-pattern>
    <rule ref="PSR12"/>
</ruleset>
